/* bootstrap と bootflat のインポート */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css');

/* mypage.css */

body {
  background-color: #F3D6BA;
  margin: 0;
  padding: 0;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh; /* 画面全体の高さを最低限100%に設定 */
}

main {
  flex-grow: 1; /* メインコンテンツが残りのスペースを埋める */
}

/* example.css */
.museomoderno-title {
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold; /* タイトルなので太字 */
  font-style: normal;
}

header {
  background-color: #E0E0E0; /* ヘッダーの背景色 */
  color: #fff;
  padding: 10px;
  width: 100%; /* ヘッダーの幅を100%に設定 */
  box-sizing: border-box; /* パディングを含む幅の計算 */
}

nav {
  width: 100%; /* ナビゲーションの幅を100%に設定 */
  box-sizing: border-box; /* パディングを含む幅の計算 */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* 横並びにする */
  justify-content: space-around; /* メニュー項目を中央寄せにする */
  width: 100%; /* 横幅を100%に設定 */
}

nav ul li {
  margin-right: 30px;
  font-size: 20px;
  color: #A59B93;
  text-decoration: none;
}

nav ul li a {
  font-size: 20px;
  color: #A59B93;
  text-decoration: none;
}

main {
  padding: 20px;
  
}

main div li {
  font-size: 300px;
}

.left{
  width: 50%;
  position: absolute;
}

.right{
  width: 50%;
  float: right;
}

textarea {
  width: 100%;
  max-width: 500px; 
  height: auto;
  resize: none;
  font-size: 16px;
  padding: 10px;
  resize: vertical;
  overflow-y: auto;
}

.goal-container .textarea-wrapper textarea {
  text-align: center !important;
}


/* 変更ボタン */
.change-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #A59B93;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}


.course-info a{
  margin: 0 0 0 -68px;
  border: none;
  color: #ffffff;
  background-color: #A59B93;
  border-radius: 50%; /* ボタンを角丸にする */
  padding: 3px;
  cursor: pointer;
  transition: .3s;
}

.goal-container a {
  margin: 0 0 0 10px;
  border: none;
  color: #ffffff;
  background-color: #A59B93;
  border-radius: 50%; /* ボタンを角丸にする */
  padding: 3px;
  cursor: pointer;
  transition: .3s;
}

.button2 {
  position: relative;
  top: -35px;
  left: 300px;
  background-color: #A59B93;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 7px;
  cursor: pointer;
  transition: .3s;
}

.button3 {
  position: relative;
  top: -42px;
  left: 170px;
  background-color: #A59B93;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 7px;
  cursor: pointer;
  transition: .3s;
}

button:hover{
  background: #57504b ;
}

.button2:hover{
  background: #57504b;
}

.button3:hover{
  background: #57504b;
}

.change-avatar:hover{
  background: #57504b;
}

.goal-container p{
  font-size: 30px;
  color: #A59B93;
}

.course-info p {
  font-size: 25px;
  color: #A59B93;
}

/* 入力フィールド */
.course-info textarea{
  color: #A59B93 !important;
  margin: 20px 12px 20px 0;
  resize: none;
  font-size: 18px;
  width: 500px;
  height: 50px;
}

.goal-container textarea{
  color: #817b76;
  margin: 0px -65px 20px 0;
  resize: none;
  font-size: 20px;
  width: 550px;
  height: 150px;
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold; /* タイトルなので太字 */
  font-style: normal;
}

/* カレンダー */
#calendar {
  max-width: 350px; /* カレンダーの最大幅を設定 */
  height: 270px;
  margin: -18px 0px 0px 80px; /* カレンダーを水平中央に配置 */
  background-color: white; /* カレンダーの背景色を白に設定 */
}

.month-name {
  color: #A59B93;
  margin: -80px 0px 20px 200px;
}

.month-name h2 {
  font-size: 35px !important;
}
/* プロフィール*/

.profile h1 {
  color: #A59B93;
  font-size: 35px;
  margin: -10px 0 13px 165px;
}

.avatar-container {
  position: relative;
  display: inline-block; /* 要素を横並びに配置 */
}

.avatar {
  margin: -10px 0 0 150px;
  width: 180px; /* アイコンの幅 */
  height: 180px; /* アイコンの高さ */
  border-radius: 50%; /* アイコンを丸くする */
  overflow: hidden; /* 要素外の部分を隠す */
  background-color: #ffffff; /* デフォルトの背景色 */
}

.avatar img {
  width: 100%; /* 画像を要素の幅いっぱいにする */
  height: auto; /* 高さを自動調整 */
  display: block; /* 画像を中央に配置 */
}

.no-icon-text {
  position: absolute; /* 絶対配置を有効にする */
  top: 50%; /* 上端を中央に配置 */
  left: 50%; /* 左端を中央に配置 */
  transform: translate(-50%, -50%); /* 中央揃え */
  color: white; /* テキストの色 */
  font-size: 16px; /* フォントサイズ */
}

.change-avatar {
  position: relative; /* 相対位置指定 */
  top: -75px; /* 上方向に移動 */
  left: 133px; /* 左方向の位置 */
  background-color: #A59B93;
  color: #fff;
  border: none;
  border-radius: 100px; /* ボタンを角丸にする */
  padding: 12px;
  cursor: pointer;
}

.change-avatar img {
  width: 20px; /* ロゴのサイズ調整 */
}

.customer-info a {
  text-align: center;
  font-size: 20px;
  display: inline-block;
  margin: 25px 0 25px 175px;
  color: #A59B93;
}

.unsubscribe a {
  text-align: center;
  margin: 0 0 0 227px;
  font-size: 20px;
  color: #A59B93;
}

a:hover{
  color: #57504b;
}

.footer1 {
  display: flex;
  justify-content: center;
  background-color: #F3D6BA; /* フッターの背景色 */
  width: 100%; /* フッターの幅を100%に設定 */
}

.footer1 img {
  text-align: center; /* 中央揃え */
  max-width: 100px; /* ロゴの最大幅 */
}



/* レスポンシブ対応 */
@media only screen and (max-width: 768px) {
  /* ログイン中のユーザーの名前 */
  .user-name {
    overflow-wrap: break-word !important;
    display: inline-block !important;
    max-width: 100px; /* 必要に応じて適切な幅を指定してください */
}

  /* ヘッダー */
  header {
    padding: 15px 0;
    width: 100%;
  }

  nav ul {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  nav ul li a {
    font-size: 20px;
    color: #A59B93;
    text-decoration: none;
  }


  /* アイコン */

  .profile h1 {
    color: #A59B93;
    font-size: 30px;
    text-align: center;
    margin: 0 0 8px -130px;
  }


  .avatar {
    margin: 0px 0 0 60px;
    width: 150px; /* アイコンの幅 */
    height: 150px;
    border-radius: 50%; /* アイコンを丸くする */
    overflow: hidden; /* 要素外の部分を隠す */
    background-color: #ffffff; /* デフォルトの背景色 */
  }

  .change-avatar {
    position: relative; /* 相対位置指定 */
    top: -95px;
    left: 2rem; /* 左方向の位置 */
    background-color: #A59B93;
    color: #fff;
    border: none;
    border-radius: 100px; /* ボタンを角丸にする */
    padding: 20px;
    cursor: pointer;
  }

  .button2 {
    position: relative;
    top: 0rem;
    left: 105px;
    background-color: #A59B93;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 15px;
    cursor: pointer;
    transition: .3s;
  }
  
  .button3 {
    position: relative;
    top: -92px;
    left: 122px;
    background-color: #A59B93;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 15px;
    cursor: pointer;
    transition: .3s;
  }


  /* カレンダー */
  #calendar {
    width: 100%;
    height: 400px;
    margin: 30px 55px 0 0; 
    background-color: white; 
  }

  .month-name {
    color: #A59B93;
    margin: -60px 116px -25px 0px;
  }

  .month-name h2{
    font-size: 30px !important;
  }

  .days {
    display: flex;
    flex-direction: column;
    align-items: center; /* 垂直方向の中央揃え */
    justify-content: center; /* 水平方向の中央揃え */
  }
  

  /* コース選択 */
  .course-info textarea{
    color: #A59B93;
    resize: none;
    font-size: 30px;
    width: 100%;
    height: 60px;
  }

  .course-info p {
    font-size: 30px;
    width: 100%;
    margin: 40px 0 30px 0 ;
    color: #A59B93;
  }

  .course-info a{
    position: relative;
    top: -10px;
    left: 35rem;
    background-color: #A59B93;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    transition: .3s;
  }

  /* 目標設定 */
  .goal-container textarea{
    color: #A59B93;
      margin: 46px 0 10px 0;
      resize: none;
      font-size: 30px;
      width: 100%;
      height: 150px;
  }

  .goal-container p {
    font-size: 35px;
    color: #A59B93;
  }

  .goal-container a{
    position: relative;
    top: 0px;
    left: 275px;
    background-color: #A59B93;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    transition: .3s;
  }

  .customer-info {
    text-align: center;
  }

  .customer-info a {
    font-size: 25px;
    display: inline-block;
    margin: 50px 0 40px 0 ;
    color: #A59B93;
  }

  .unsubscribe {
    text-align: center;
  }

  .unsubscribe a {
    text-align: center;
    margin: 0;
    font-size: 25px;
    color: #A59B93;
  }

    /* フッター */
  .footer1 {
    position: sticky;
    margin-top: 20px;
    width: 100%;
    background-color: #F3D6BA;
    text-align: center;
  }

  .footer1 img {
    width: 100%;
  }
}


@media only screen and (max-width: 767px){

  /* ログイン中のユーザーの名前 */
  .user-name {
    overflow-wrap: break-word !important;
    display: inline-block !important;
    max-width: 100px; /* 必要に応じて適切な幅を指定してください */
}

  .left,
  .right {
    width: 100%; /* 画面幅いっぱいに広がるように設定 */
    float: none; /* 不要なフロートを解除 */
    position: static; /* 相対的な位置を持たないようにする */
  }


  /* ヘッダー */
  header {
    padding: 0 0;
    width: 100%;
  }

  nav ul {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  nav ul li a {
    font-size: 10px;
    color: #A59B93;
    text-decoration: none;
  }



  /* アイコン */

  .profile h1 {
    width: 100%;
    color: #A59B93;
    text-align: center;
    margin: auto;
  }

  .profile {
    display: flex; /* 親要素をフレックスコンテナにする */
    flex-direction: column; /* 垂直方向にアイテムを配置 */
    justify-content: center; /* 垂直方向に中央寄せ */
    align-items: center; /* 水平方向に中央寄せ */
  }

  .avatar {
    margin: auto;
    width: 150px; /* アイコンの幅 */
    height: 150px;
    border-radius: 50%; /* アイコンを丸くする */
    overflow: hidden; /* 要素外の部分を隠す */
    background-color: #ffffff; /* デフォルトの背景色 */
  }

  .change-avatar {
    position: relative; /* 相対位置指定 */
    top: -9rem;
    left: -6rem; /* 左方向の位置 */
    background-color: #A59B93;
    color: #fff;
    border: none;
    border-radius: 100px; /* ボタンを角丸にする */
    padding: 20px;
    cursor: pointer;
  }

  .button2 {
    position: relative;
    top: 1rem;
    left: 0;
    background-color: #A59B93;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 15px;
    cursor: pointer;
    transition: .3s;
  }
  
  .button3 {
    position: relative;
    top: -9rem;
    left: 60px;
    background-color: #A59B93;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 15px;
    cursor: pointer;
    transition: .3s;
  }


  /* カレンダー */
  #calendar {
    width: 100%; /* カレンダーの最大幅を設定 */
    height: 400px;
    margin: auto; /* カレンダーを水平中央に配置 */
    background-color: white; /* カレンダーの背景色を白に設定 */
  }

  .month-name {
    color: #A59B93;
    margin-left: auto; /* 左側の余白を自動計算 */
    margin-right: auto; /* 右側の余白を自動計算 */
  }

  .month-name h2 {
    font-size: 30px !important;
    margin: 25px 50px 50px 50px;
  }

  .days {
    display: flex;
    flex-direction: column;
    align-items: center; /* 垂直方向の中央揃え */
    justify-content: center; /* 水平方向の中央揃え */
  }
  

  /* コース選択 */
  .course-info textarea{
    color: #A59B93;
    margin: -8px 12px 20px 0;
    resize: none;
    font-size: 18px;
    width: 100%;
    height: 50px;
  }

  .course-info p {
    font-size: 25px;
    width: 100%;
    margin: 60px 0 20px 0 ;
    color: #A59B93;
  }

  .textarea-container a {
    position: relative !important;
    top: -10px !important;
    left: 35rem !important;
    background-color: #A59B93 !important;
    color: #fff !important;
    border: none !important;
    border-radius: 50px !important;
    padding: 10px !important;
    cursor: pointer !important;
    transition: .3s !important;
  }

  /* 目標設定 */
  .goal-container textarea{
    color: #A59B93;
      margin: 0px -65px 20px 0;
      resize: none;
      font-size: 30px;
      width: 100%;
      height: 150px;
  }

  .goal-container p {
    font-size: 30px;
    color: #A59B93;
  }

  .goal-container a{
    position: relative;
    top: -10px;
    left: 27rem;
    background-color: #A59B93;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    transition: .3s;
  }

  .customer-info {
    text-align: center;
  }

  .customer-info a {
    font-size: 20px;
    display: inline-block;
    margin: 20px 0 40px 0 ;
    color: #A59B93;
  }

  .unsubscribe {
    text-align: center;
  }

  .unsubscribe a {
    text-align: center;
    margin: 0;
    font-size: 20px;
    color: #A59B93;
  }

    /* フッター */
  .footer1 {
    position:sticky; /* fixed から relative に変更 */
    margin-top: 20px; /* 上部のコンテンツとの間に隙間を作成 */
    width: 100%;
    background-color: #F3D6BA;
    text-align: center;
  }

  .footer1 img {
    width: 100%;
  }

}


