@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css');

/* cssをいちから書くよりは楽だけどブートストラップについて調べるほうが手間がかかる可能性がある */
/* class名がダブっているとブートストラップのクラス名が反映されてしまうので注意！ */
/* 各ページで書くもののみを記載（文字とかフォント　ヘッダー） */

.body {
  background-color: #F3D6BA;
  font-family: "MuseoModerno", sans-serif;
  font-style: normal;
}

html, body {
  background-color: #F3D6BA;}
  /* example.css */

.museomoderno-title {
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold; /* タイトルなので太字 */
  font-style: normal;
}
