@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css');

.body {
  background-color: #F3D6BA;
  font-family: "MuseoModerno", sans-serif;
  font-style: normal;
}

html, body {
  background-color: #F3D6BA;
}

.museomoderno-title {
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.card-body {
  text-align: center;
  margin: 0 0 0 0;
  color: #A59B93;
  font-weight: bold;
}

.card-body h1 {
  font-size: 40px;
  margin-top: 70px;
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
  color: #A59B93;
}

.card-body h2 {
  font-size: 20px;
  color: #A59B93;
  margin:  65px 0 40px 0;
}

.card-body h3 {
  font-size: 20px;
  color: #A59B93;
}



.button-container {
  text-align: center;
  margin: 80px auto;
}

.button2 {
  text-align: center;
  color: #ffffff;
  background-color: #A59B93;
  border: 1.5px solid #000000;
  padding: 5px 20px;
  cursor: pointer;
  text-align: center;
  transition: .3s;
  display: inline-block;
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
}

.button2:hover {
  color: #ffffff;
  background-color: #57504b;
}


.footer1 {
  display: flex;
  justify-content: center;
  background-color: #F3D6BA;
  width: 100%;
}

.footer1 img {
  text-align: center;
  max-width: 100px;
  margin: 0 0 0 10px;
}

@media only screen and (max-width: 768px){

  .card-body h1 {
    font-size: 40px;
    margin-top: 70px;
    font-family: "MuseoModerno", sans-serif;
    font-optical-sizing: auto;
    color: #A59B93;
  }
  
  .card-body h2 {
    font-size: 25px;
    color: #A59B93;
    margin:  100px 0 40px 0;
  }
  
  .card-body h3 {
    font-size: 25px;
    color: #A59B93;
  }

  .button2 {
    font-size: 20px;
    padding: 10px 25px;
    margin: 50px 0 0 0;
  }

  .footer1 img {
    text-align: center;
    max-width: 100px;
    margin: 100px 0 0 10px;
  }
}


@media only screen and (max-width: 767px){
  
  .card-body h1 {
    font-size: 25px;
    margin-top: 70px;
    font-family: "MuseoModerno", sans-serif;
    font-optical-sizing: auto;
    color: #A59B93;
  }
  
  .card-body h2 {
    font-size: 15px;
    color: #A59B93;
    margin:  60px 0 40px 0;
  }
  
  .card-body h3 {
    font-size: 15px;
    color: #A59B93;
  }

  .button2 {
    font-size: 10px;
    padding: 10px 25px;
    margin: 30px 0 0 0;
  }

  .footer1 img {
    text-align: center;
    max-width: 100px;
    margin: 0 0 0 10px;
  }

  .footer1 {
    position: fixed; /* 画面の一番下に固定 */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F3D6BA; /* フッターの背景色 */
    display: flex;
    justify-content: center;
  }

}