@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css');

/* cssをいちから書くよりは楽だけどブートストラップについて調べるほうが手間がかかる可能性がある */
/* class名がダブっているとブートストラップのクラス名が反映されてしまうので注意！ */
/* 各ページで書くもののみを記載（文字とかフォント　ヘッダー） */

html, body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
body {
  background-color: #F3D6BA !important;
}

.article {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}


.row {
  width: 100%;
}

.header {
  text-align: center;
  color: #A59B93;
}

.img1 {
  transition: transform 0.3s ease;
  margin: -12rem 0 0 -115rem;
  max-width: 4%;
}

.img1:hover {
  transform: scale(1.1);
}

.header h1 {
  font-size: 50px !important;
}

.icon {
    width: 20px; /* アイコンの幅を設定 */
    height: 20px; /* アイコンの高さを設定 */
    margin-left: 10px; /* ラベルとの間隔を設定 */
    vertical-align: middle; /* ラベルと垂直に揃える */
}

.form-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.form-container{
  margin-left: 42rem;
  margin-right: 42rem;
}

.form-group {
  margin: 30px auto; /* 左右の余白を自動で調整して中央に配置 */
  text-align: left; /* 入力フィールドを中央に配置 */
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  display: block;
  text-align: left;
  margin: 0 auto;
}

.form-group {
  color: #A59B93;
  margin-bottom: 10px;
  font-size: 20px
}

.form-group .passwaord {
  margin: 30px ;
}

.form-control {
  background-color:#F3D6BA;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-shadow: none;
}

.form-group input#name,
.form-group input#email,
.form-group input#password  {
  width: 100% ;
  max-width: 565px;
  height: 45px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.custom-size:hover {
  background-color: #cfc4bb;
}

.custom-size {
  background-color: #867e76;
  color: #fff;
  font-weight: bold;
  font-size: 16px; /* フォントサイズを指定 */
  padding: 5px 20px; /* パディングを指定 */
}

.footer1 {
  display: flex;
  justify-content: center;
  background-color: #F3D6BA; /* フッターの背景色 */
  width: 100%; /* フッターの幅を100%に設定 */
}

.footer1 img {
  display: flex;
  text-align: center; /* 中央揃え */
  max-width: 100px; /* ロゴの最大幅 */
  margin: 50px 0 0 0;
}

/* 通常のスタイル */
.mypage-update-inner {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@keyframes  fuwafuwa {
  0% {
    transform:translate(0, 0) rotate(-7deg);
  }
  50% {
    transform:translate(0, -7px) rotate(0deg);
  }
  100% {
    transform:translate(0, 0) rotate(7deg);
  }
}


@media only screen and (max-width: 768px) {

  .article {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
   
  .header {
    width: 100%;
  }
  .header h1 {
    font-size: 60px !important; /* フォントサイズを調整 */
    text-align: center;
  }

  .form-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .form-container{
    margin-left: 15rem;
    margin-right: 15rem;
  }

  .form-group {
    color: #A59B93;
    margin-bottom: 10px;
    font-size: 25px
  }

  .form-group input#name,
  .form-group input#email,
  .form-group input#password  {
    width: 100% ;
    max-width: 565px;
    height: 50px;
    margin-bottom: 20px;
    font-size: 25px;
    box-sizing: border-box;
  }

  .custom-size {
    background-color: #867e76;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin: 30px 0 0 0 ;
    padding: 10px 25px;
  }

  .footer1{
    position: static;
    width: 100%; /* 幅を100%に設定 */
  }

  .img1 {
    animation: fuwafuwa 3s ease-in-out infinite alternate;
    transition: transform 0.3s ease;
    margin: -10rem 0px 0px -57rem;
    max-width: 10%;
  }
}

@media only screen and (max-width: 767px){
  .header h1 {
    font-size: 40px !important; /* フォントサイズを調整 */
    text-align: center;
  }

  .form-container{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .form-group {
    color: #A59B93;
    margin-bottom: 10px;
    font-size: 25px
  }

  .custom-size {
    background-color: #867e76;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin: 30px 0 0 0 ;
    padding: 10px 25px;
  }

  .footer1{
    position: static;
    width: 100%;
  }

  .footer1 img{
    margin: 90px 0 0 0;
  }

  .img1 {
    animation: fuwafuwa 3s ease-in-out infinite alternate;
    margin: 5rem 0px 0px -10px;
    transition: transform 0.3s ease;
    max-width: 20%;
  }

}
