@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css');

/* cssをいちから書くよりは楽だけどブートストラップについて調べるほうが手間がかかる可能性がある */
/* class名がダブっているとブートストラップのクラス名が反映されてしまうので注意！ */
/* 各ページで書くもののみを記載（文字とかフォント　ヘッダー） */

main{
  margin-top:20px;
  background-color: #F3D6BA;
  color: #A59B93;
}
form{
  background-color:  #F3D6BA;
}
.h3 {
  margin-bottom: 3rem;
}
.card {
  margin-bottom: 4rem;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 0px solid #e5e9f2;
  border-radius: .2rem;
}
.form-group {
  margin-bottom: 3rem;
}
.log img {
  max-width: 20px;
  height: auto;
}
.log {
  margin-left: 0.5rem;
}
.btn {
  background-color: #A59B93;
  border-color: #A59B93;
}
.flex-log {
  text-align: center;
}
.flex-log img{
 max-width: 80px;
 height: auto;
}
@media (max-width: 480px){
  .h3 {
    font-size: 26px;
  }
}
